@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before.
*::after {
	box-sizing:border-box;
}

body {
	margin:0;
	background:#D9D0DE;
	font-family:'Roboto', sans-serif;
}

.container {
	width:50%;	
	margin:auto;
	background:#BC8DA0;
	margin-top:10%;
	padding:3rem;
	box-shadow:-1rem -1rem #0C1713;
	border-radius:1rem;
	max-width:530px;

}

.row {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

table, th, td{
	border:1px solid black;
	height:1.5rem;
}

table {

}
.msg__top {
	width:100%;
	text-align:center;
}
.choices {
	visibility:hidden;
}

button {
	background:#A04668;
	border:none;
	border-radius:1.5rem;
	padding: 1rem;
	max-width:6rem;
	font-weight:bold;
}

button:hover {
	background:#AB4967;
}

@media (max-width:500px) {
	.choices {
		display:flex;
		flex-direction:column;
	}
	#ROCK, #PAPER, #SCISSORS {
		margin-top:.5rem;
	}
}
